{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<div class="module">
    <h1>Импорт маршрутов из Excel</h1>
    <div class="content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="submit-row">
                <input type="submit" value="Импортировать" class="default">
                <a href="../" class="button cancel-link">{% trans "Отмена" %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
